<h1>My meetings</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>description</th>
  </tr>
 
  <% @meetings.each do |meeting| %>
    <tr>
      <td><%= meeting.title %></td>
      <td><%= meeting.description %></td>
      <td><%= link_to 'Show', meeting_path(meeting) %></td>
    </tr>
  <% end %>
</table>